@import 'fonts';

@font-face {
  font-weight: 900;
  font-family: 'Mulish-Black';
  src: url('/fonts/Mulish-Black.ttf');
}
@font-face {
  font-weight: 700;
  font-family: 'Mulish-Bold';
  src: url('/fonts/Mulish-Bold.ttf');
}
@font-face {
  font-weight: 500;
  font-family: 'Mulish-Medium';
  src: url('/fonts/Mulish-Medium.ttf');
}
@font-face {
  font-weight: 400;
  font-family: 'Mulish-Regular';
  src: url('/fonts/Mulish-Regular.ttf');
}

body {
  font-family: 'Mulish-Regular';
}
